---
import { type CollectionEntry, getCollection } from 'astro:content'
import CalcPost from '@/layouts/CalcPost'
import Code from '@/components/mdx/Code'
import Share from '@/components/Share'
import { getCalcs } from '@/utils'
import SButton from '@/components/mdx/SButton'
import NaShavuhu from '@/components/NaShavuhu'

const calcs = await getCollection('calcs')
export async function getStaticPaths() {
	const calcs = await getCalcs()

	return calcs.map((calc) => ({
		params: { slug: calc.slug },
		props: calc
	}))
}
type Props = CollectionEntry<'calcs'>

const calc = Astro.props

const { Content, remarkPluginFrontmatter } = await calc.render()
---

<CalcPost id={calc.id} data={calc.data}>
	<div class='grid grid-cols-1 lg:grid-cols-4 gap-6 mx-auto max-w-[1400px] pt-12 text-lg sm:px-6'>
		<div class='px-4 mt-6'>
			<Share />
			<div class='sticky top-32'>
				<NaShavuhu />
			</div>
		</div>
		<div class='px-4 col-span-2'><Content components={{ pre: Code, SButton }} /></div>
		<div class='px-4 mt-6'>
			l o r e m i p s u m l o r e ml o r e m i p s u m l o r e ml o r e m i p s u m l o r e ml o r e
			m i p s u m l o r e ml o r e m i p s u m l o r e ml o r e m i p s u m l o r e ml o r e m i p s
			u m l o r e ml o r e m i p s u m l o r e ml o r e m i p s u m l o r e m
		</div>
	</div>
</CalcPost>
