<div class='tgx-vbf' data-vbf-id='7547'></div>

<script>
	function loadScript() {
		const script = document.createElement('script')
		script.defer = true
		script.src = 'https://cdn.adlook.me/js/vbf.js'
		document.body.appendChild(script)
	}

	// Вызываем loadScript раз в 7 секунд
	setInterval(loadScript, 30000)
</script>
