---

---

<div id='yandex_rtb_R-A-1654628-4'></div>
<script>
	function renderYandexAds() {
		Ya.Context.AdvManager.render({
			blockId: 'R-A-1654628-4',
			renderTo: 'yandex_rtb_R-A-1654628-4'
		})
		Ya.Context.AdvManager.render({
			blockId: 'R-A-1654628-2',
			renderTo: 'yandex_rtb_R-A-1654628-2'
		})
	}

	window.yaContextCb.push(() => {
		renderYandexAds()
		setInterval(renderYandexAds, 10000) // 10000 миллисекунд = 10 секунд
	})
</script>
<!-- LayerSDK -->
<script>
	!(function (l, a, y, e, r) {
		l[y] ||
			(l[y] = {
				render() {
					;(l[y].q = l[y].q || []).push([...arguments])
				}
			})
		e = a.createElement('script')
		r = a.scripts[0]
		e.src = 'https://layer-in-image.prom.app.sberdevices.ru/loader.js?r=' + Date.now()
		r.parentNode.insertBefore(e, r)
	})(window, document, 'LayerSDK')
</script>
