---
import { Image } from 'astro:assets'
import SamogonCalcLogo from '../assets/images/kalkulyator-samogonshchika.png'
import HeaderLink from '@/components/HeaderLink'
import Telegram from './icons/Telegram.astro'
const today = new Date()
---

<footer class='relative mt-12 bottom-0 text-center w-full bottom-0;'>
	<div class='text-white bg-slate-700'>
		<div class='w-full lg:w-2/4 mx-auto py-3 grid grid-cols-1 md:grid-cols-3 gap-3'>
			<div class='pt-6 py-6 max-h-64 md:text-xl self-center leading-normal'>
				<div class='uppercase text-2xl font-bold my-4'>SAMOGONCALC</div>
				<p>Набор быстрых онлайн-калькуляторов для винокуров и самогонщиков</p>
			</div>
			<div class='pt-6 py-6 max-h-64 md:text-xl flex items-center justify-center'>
				<Image
					src={SamogonCalcLogo}
					alt='Калькулятор самогонщика Samogoncalc'
					width={150}
					height={150}
				/>
			</div>
			<div class='pt-6 py-6 max-h-64 md:text-xl self-center leading-normal'>
				<div class='uppercase text-2xl font-bold my-4'>Контакты</div>
				<p>Подписывайтесь на наш канал</p>
				<p><a href='https://telegram.me/samogonco'>"Самогон и самогонщики"</a></p>
				<p class='content text-text'>
					Разработано 🚀 <a href='https://kryukovs.ru'>kryukovs.ru</a>
				</p>
			</div>
		</div>
	</div>
</footer>
<div class='bg-slate-800 text-center text-white py-6 text-xs md:text-sm'>
	SamogonCalc.ru &copy; 2021-{today.getFullYear()}
</div>
