---
import Shavuha from '../assets/images/shavuha.png'
import QrShavuha from '../assets/images/qr-shaurma.webp'
import { Image } from 'astro:assets'
---

<div class='drop-shadow-2xl relative mt-12 lg:mt-24 max-w-[200px]'>
	<a href='https://www.tinkoff.ru/rm/kryukov.sergey10/9HGXT25321' class='text-center'>
		<div class='font-bold pb-1 -mt-6'>
			<div class='lg:hidden animate-bounce hover:animate-spin'>
				<Image src={Shavuha} alt='На еду для разработчика' width={190} />
			</div>
			<div class='hidden lg:block animate-bounce'>
				<Image src={QrShavuha} alt='QR на еду для разработчика' width={190} />
			</div>
			<p class='text-md'>☝️ Тут такое дело...</p>
			<p class='text-xs'>на шаурму для разработчика</p>
			<p class='text-xs'>samogoncalc.ru собираем</p>
		</div>
	</a>
</div>
