---
import Shavuha from '../assets/images/shavuha.png'
import { Image } from 'astro:assets'
---

<div class='drop-shadow-2xl relative mt-12 max-w-[200px]'>
	<a href='https://yoomoney.ru/to/410011056701951' class='text-center'>
		<div class='font-bold pb-1 -mt-6'>
			<div class='animate-bounce hover:animate-spin'>
				<Image src={Shavuha} alt='Калькулятор самогонщика Samogoncalc' width={190} />
			</div>
			<p class='text-md'>☝️ Тут такое дело...</p>
			<p class='text-xs'>на шаурму для разработчика</p>
			<p class='text-xs'>samogoncalc.ru собираем</p>
		</div>
	</a>
</div>
