---
const { currentPage, totalPages } = Astro.props

const getPageLink = (page) => {
	const searchParams = new URLSearchParams(window.location.search)
	searchParams.set('page', page)
	return `?${searchParams.toString()}`
}
---

<div class='flex justify-center mt-10'>
	{
		Array.from({ length: totalPages }, (_, i) => (
			<a
				href={getPageLink(i + 1)}
				class={`mx-1 px-3 py-2 rounded ${
					currentPage === i + 1 ? 'bg-blue-500 text-white' : 'bg-gray-200 text-gray-700'
				}`}
			>
				{i + 1}
			</a>
		))
	}
</div>
