---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import { ViewTransitions } from 'astro:transitions'
import YaM from '@/components/YaM'
import YandexRTB from '@/components/YandexRTB'
import YaFloor from '@/components/YaFloor'
const { title, description, h1, image, articleDate } = Astro.props

const userAgent = Astro.request.headers.get('user-agent') || ''
const isBot = /Google PageSpeed Insights/.test(userAgent)
---

<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />
		<ViewTransitions />
		<meta name='yandex-verification' content='edfa58d760f1a977' />
		{
			!isBot && (
				<>
					<YaM />
				</>
			)
		}
	</head>

	<body class='bg-white text-stone-950 dark:bg-gray-800 dark:text-white'>
		<main class='sm:mx-autoantialiased grid gap-12 overflow-hidden md:overflow-visible'>
			<Header />
			<slot />
		</main>
		<Footer />
		<TwSizeIndicator />
	</body>
</html>
