---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import { ViewTransitions } from 'astro:transitions'
import YandexRTB from '@/components/YandexRTB'
const { title, description, h1, image, articleDate } = Astro.props

const userAgent = Astro.request.headers.get('user-agent') || ''
const isBot = /Googlebot|YandexBot/.test(userAgent)
---

<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />
		<ViewTransitions />
		<meta name='yandex-verification' content='edfa58d760f1a977' />
		<!-- Yandex.Metrika counter -->
		<script type='text/javascript'>
			;(function (m, e, t, r, i, k, a) {
				m[i] =
					m[i] ||
					function () {
						;(m[i].a = m[i].a || []).push(arguments)
					}
				m[i].l = 1 * new Date()
				for (var j = 0; j < document.scripts.length; j++) {
					if (document.scripts[j].src === r) {
						return
					}
				}
				;(k = e.createElement(t)),
					(a = e.getElementsByTagName(t)[0]),
					(k.async = 1),
					(k.src = r),
					a.parentNode.insertBefore(k, a)
			})(window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym')

			ym(87466855, 'init', {
				clickmap: true,
				trackLinks: true,
				accurateTrackBounce: true,
				webvisor: true
			})
		</script>
		<noscript
			><div>
				<img
					src='https://mc.yandex.ru/watch/87466855'
					style='position:absolute; left:-9999px;'
					alt=''
				/>
			</div></noscript
		>
		<!-- /Yandex.Metrika counter -->
		{!isBot && <YandexRTB />}
	</head>

	<body class='bg-white text-stone-950 dark:bg-gray-800 dark:text-white'>
		<main class='sm:mx-autoantialiased grid gap-12 overflow-hidden md:overflow-visible'>
			<Header />
			<slot />
		</main>
		<Footer />
		<TwSizeIndicator />
		<script>
			// Функция для вызова скрипта
			function renderAd() {
				window.yaContextCb.push(() => {
					Ya.Context.AdvManager.render({
						blockId: 'R-A-1654628-11',
						type: 'floorAd',
						platform: 'touch'
					})
				})
			}

			// Вызываем функцию рендера сразу
			renderAd()

			// Устанавливаем интервал в 15 секунд
			setInterval(renderAd, 15000)
		</script>
	</body>
</html>
