---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import { ViewTransitions } from 'astro:transitions'
const { title, description, image, articleDate } = Astro.props
---

<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />
		<ViewTransitions />
	</head>

	<body class='bg-white text-stone-950 dark:bg-gray-800 dark:text-white'>
		<main class='sm:mx-autoantialiased grid gap-12 overflow-hidden md:overflow-visible'>
			<Header />
			<slot />
		</main>
		<Footer />
		<TwSizeIndicator />
	</body>
</html>
